[Unit]
Description=Raspberry Pi NoIR Camera Timelapse
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/student/timelapse.py
WorkingDirectory=/home/student
StandardOutput=append:/home/student/timelapse.log
StandardError=append:/home/student/timelapse.log
Restart=always
User=student

[Install]
WantedBy=multi-user.target
